<main>
  <div class="section gallery">
    <h2 class="gallery__title">Films gallary</h2>
    <ul class="gallery__list js-gallery">
      <!-- скрыть после отладки -->
      <li class="film__card film__link">
        <img src="./images/rectangle.png" alt="Movie" class="film__img" data-source="" />
        <div class="film__scribe">
          <p class="film__title">
            НАЗВАНИЕ Movie
          </p>
          <div class="film__data">
            <p class="film__genre">
              Genre, Жанр, Other
            </p>
            <p class="film__genre separator">|</p>
            <p class="film__genre">
              1907
            </p>
            <p class="film__vote_average is-hidden">
              10.0
            </p>
          </div>
        </div>
      </li>

      <li class="film__card film__link">
        <img src="./images/rectangle.png" alt="Movie" class="film__img" data-source="" />
        <div class="film__scribe">
          <p class="film__title">
            НАЗВАНИЕ Movie
          </p>
          <div class="film__data">
            <p class="film__genre">
              Genre, Жанр, Other
            </p>
            <p class="film__genre separator">|</p>
            <p class="film__genre">
              1907
            </p>
            <p class="film__vote_average is-hidden">
              10.0
            </p>
          </div>
        </div>
      </li>

      <li class="film__card film__link">
        <img src="./images/rectangle.png" alt="Movie" class="film__img" data-source="" />
        <div class="film__scribe">
          <p class="film__title">
            НАЗВАНИЕ Movie
          </p>
          <div class="film__data">
            <p class="film__genre">
              Genre, Жанр, Other
            </p>
            <p class="film__genre separator">|</p>
            <p class="film__genre">
              1907
            </p>
            <p class="film__vote_average is-hidden">
              10.0
            </p>
          </div>
        </div>
      </li>
      <!-- до этого места -->
    </ul>
  </div>
</main>