<main>
  <div class="section gallary">
    <h2 class="gallary__title">Films gallary</h2>
    <ul class="gallary__list">
      <!-- скрыть после отладки -->
      <li class="film__card film__link">
        <!-- <div class=""> -->
        <img src="./images/rectangle.png" alt="Movie" class="film__img  film__background"
          data-source="{{largeImageURL}}" />
        <div class="film__scribe">
          <p class="film__name">
            НАЗВАНИЕ Movie
          </p>
          <div class="film__data">
            <p class="film__genre">
              Genre, Жанр, Other
            </p>
            <p class="film__genre separator">|</p>
            <p class="film__relise">
              1907
            </p>
            <p class="film__vote_average is-hidden">
              10.0
            </p>
          </div>
        </div>
        <!-- </div> -->
      </li>

      <li class="film__card film__link">
        <div class="">
          <img src="./images/rectangle.png" alt="Movie" class="film__img  film__background"
            data-source="{{largeImageURL}}" />
          <div class="film__scribe">
            <p class="film__name">
              НАЗВАНИЕ Movie
            </p>
            <div class="film__data">
              <p class="film__genre">
                Genre, Жанр, Other
              </p>
              <p class="film__genre separator">|</p>
              <p class="film__relise">
                1907
              </p>
              <p class="film__vote_average is-hidden">
                10.0
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="film__card film__link">
        <div class="">
          <img src="./images/rectangle.png" alt="Movie" class="film__img  film__background"
            data-source="{{largeImageURL}}" />
          <div class="film__scribe">
            <p class="film__name">
              НАЗВАНИЕ Movie
            </p>
            <div class="film__data">
              <p class="film__genre">
                Genre, Жанр, Other
              </p>
              <p class="film__genre separator">|</p>
              <p class="film__relise">
                1907
              </p>
              <p class="film__vote_average is-hidden">
                10.0
              </p>
            </div>
          </div>
        </div>
      </li>
      <!-- до этого места -->
    </ul>
  </div>
</main>