<div class="lightbox touch-transform js-lightbox">
  <div class="lightbox__overlay touch-transform">
    <div class="lightbox__content">
      <button type="button" class="lightbox__button touch-transform" data-action="close-lightbox"></button>
      <div class="lightbox__image">
        <div class="classToInsertCodeAfter">
          <!-- вставить спинер -->
          <img class="movie-img" src="" alt="" data-movie-img />
        </div>
        <div class="movie-info"></div>
      </div>
    </div>
  </div>
</div>